h1 Emogis
table.list
  tr
    th(colspan='2') Location
    th Name
  for entry in codes
    tr
      - if (entry.location && typeof(entry.location)=='object')
        td= entry.location.lat.toFixed(4)
        td= entry.location.lng.toFixed(4)
      - else
        td(colspan='2')= entry.location
      td
        a(name=encodeURI(entry.name))
          a(href='/admin/details/'+encodeURI(entry.name))= entry.name
      td
        -if (entry.verified)
          | verified