body
  font-family Arial

h1,h2
  color navy

a
  text-decoration none
  font-weight bold
  color #C00

table.list
  background-color lightsteelblue
  margin 10px

.list td
  background-color white
  padding 1px 10px 1px 10px
  margin 1px

div.admin
  border 1px solid red
  margin 10px
  padding 10px

div.emobox
  background-color lightgray
  border 2px solid black
  margin 3px
  float left
  height 100px
  width 150px 
  text-align center
  padding 10px 0 10px 0
  -moz-border-radius 20px;
  -webkit-border-radius 20px;
  border-radius 20px;
